<nav>
  <a href="/">Idea Factory</a>

  <div>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <%= link_to 'New Idea', new_idea_path %>
      </li>
    </ul>
  </div>
  <hr>
</nav>  